<div class="jumbotron">
	<h2 id="welcome-message">Welcome User!</h2>
	<div class="menu">
		<a href="">Home</a>
		<a href="">Profile</a>
		<a href="">Reports</a>
		<a href="">Logout</a>
	</div>
	<hr class="division">
	<div class="row">
		<div class="col-md-2">
			<p> this is side bar</p>
		</div>
		<div class="col-md-10">
			<div class="dashboard-reports">
				<div class="report1">
					<p>This is report1</p>
				</div>
				<div class="report2">
					<p>This is report2</p>
				</div>
				<div class="report3">
					<p>This is report3</p>
				</div>
				<div class="report4">
					<p>This is report4</p>
				</div>
			</div>
		</div>
	</div>
	<div class="footer">
		Copyright &copy; Indresh Singh Rathore. Please refer <a href="">terms and conditions.</a>
	</div>
</div>
