.dashboard-container .footer
{
	background-color: #34495e;
	//color: #ffffff;
	width:100%;
}

.dashboard-container
{
	background-color: #34495e;
}

.footer
{
	position:absolute;	
	text-align:center;
	bottom:0px;
}
a
{
	text-decoration:none;
}

.footer > a
{
	font-weight:bold;
	color:#1abc9c;
}
#welcome-message
{
	margin-left:1100px;
	//color: #ffffff;
}

.menu > a
{
	color: #ffffff;
	padding:10px;
	background-color:#f39c12;	
}

.dashboard-reports > div
{
	height:50%;
	width:50%;
	float:left;
	color: #ffffff;
}

.report1
{
	background-color:#00B8D4;
}
.report2
{
	background-color:#FF7043;
}
.report3
{
	background-color:#9E9E9E;
}
.report4
{
	background-color:#FFC400;
}